.adminContainer {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background-color: var(--tabla-comisiones);
    display: flex;
}



.adm-comisiones-contanier, .adm-proyectos-container{
    width: 300px;
    height: 300px;
    margin-top: 20px;
    margin-left: 20px;
    color: var(--texto-tabla-comisiones);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center ;
    border-radius: 10px;
    transition: .3s;
}
.adm-comisiones-contanier:hover, .adm-proyectos-container:hover{
    margin-top: 15px;
}

.adm-comisiones-contanier ul, .adm-proyectos-container ul{
padding: 0;
}

.adm-comisiones-contanier ul li, .adm-proyectos-container ul li {
    list-style: none;

}

.adm-comisiones-contanier ul li a, .adm-proyectos-container ul li a{
    text-decoration: none;
    padding: 10px;
    background-color: rgb(213, 123, 240);
    color: var(--tabla-comisiones);
    border-radius: 5px;
    transition: .3s;
    
}

.adm-comisiones-contanier ul li a:hover, .adm-proyectos-container ul li a:hover{
    background-color: rgb(225, 165, 243);
    color: var(--texto-tabla-comisiones);
}
