
.sobremi {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 92vh;
    justify-content: center;
    align-items: center;
    background-image: url(imagenes/heronegra.svg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}


.sobremi-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--text-font);
    color: var(--main-color);
    max-width: 100%;
    max-height:100%;

    } 
    .sobremi-info h2 {
        font-size: 50px;
        background-color: aliceblue;
        border-radius: 10px;
    } 

    .sobremi-info h3 {
      font-size: 40px;
      background-color: aliceblue;
      border-radius: 10px;
  } 
    .nombre-atim {
        font-family: var(--title-font);
        font-size: 60px;;
    }

.sobremi-img{
    width: 400px;
	height: 400px;
    padding-bottom: 20px;


  } .sobremi-img img{
    object-fit: cover;
    width:100%;
    height:100%;
    border-radius: 50%;
    border: #8f40cf solid 7px;
  }

  .icons-container {
    width: 300px;
    height: 300px;
  }

  .icons-container i{
    width: 300px;
    height: 300px;
  }