.index-container{
  width: 100vw;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-gradient1);
  background: var(--bg-gradient2);
}

.banner{
  background-color: antiquewhite;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-banner{
  background-color: rgb(247, 174, 80);
  height: 400px;
  width: 100%;
  margin: 10px;
}

.presentacion{
  background-color: beige;
  width: 80vw;
  display: flex;

}


.img-presentacion {
  background-color: rgb(233, 159, 70);
  height: 400px;
  width: 33.34%;
  margin: 10px;
}






 