.index-container{
  width: 100vw;
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg-gradient1);
  background: var(--bg-gradient2);
}


.sobremi-foto-container {
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sobremi-foto-container img{
  height: 80%;
  width:  65%;
  border-radius: 50%;
}


.sobremi-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: var(--text-font);
    color: var(--texto-tabla-comisiones);
    width: 50vw;
    height: 80vh;

    } 

    .nombre-atim {
        font-family: var(--title-font);
        font-size: 60px;;
    }






 