.servicios-container {
    width: 100%;
    height: 100vh;
    background-color: var(--tabla-comisiones);
    display: flex;
    justify-content: center;
}


.card-container {
    width: 80vw;
    height: 100%;
    background-color: antiquewhite;
}
    