* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;


    --main-color: #872ba3;
    --main-hover-color: #ee23f5;
    --title-font: 'Itim', sans-serif;
    --text-font: 'Raleway', sans-serif;

    /* comisiones */

    --tabla-comisiones: #f3d9ff;
    --texto-tabla-comisiones: #4b0081;

    --bg-gradient1: rgb(243,217,255);
    --bg-gradient2: linear-gradient(180deg, rgba(243,217,255,1) 0%, rgba(177,137,222,1) 100%);  

}